<a href="https://colab.research.google.com/github/AKKUSAXENA/AKKUSAXENA/blob/main/Diabeties_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#import libraries

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

Data SET COLLECTon

In [2]:
# loading data set by using pandas DataFrame
diabetes_df=pd.read_csv('https://drive.google.com/uc?export=download&id=1bYFcioV9ACjhwacezqMb554ds_qH9FBU')

In [3]:
pd.read_csv?

In [4]:
# for print 5 rows from starting 
diabetes_df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [5]:
# for print 5 rows from end 
diabetes_df.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [6]:
diabetes_df.shape

(768, 9)

In [7]:
# getting the null value in whole dataset
diabetes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [8]:
# statistical detail of all columns
diabetes_df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [9]:
diabetes_df['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

# Inference 
0 ----- Non Diabetic

1 ----- Diabetic

In [10]:
diabetes_df.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [11]:
# Seperate the data in X and y
X = diabetes_df.drop(columns= 'Outcome',axis = 1)
y = diabetes_df['Outcome']

In [12]:
X

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [13]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

# Data Standardization

In [14]:
sc=StandardScaler()

In [15]:
sc.fit(X)

StandardScaler()

In [16]:
df_sc=sc.transform(X)

In [17]:
df_sc

array([[ 0.63994726,  0.84832379,  0.14964075, ...,  0.20401277,
         0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575, ..., -0.68442195,
        -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, ..., -1.10325546,
         0.60439732, -0.10558415],
       ...,
       [ 0.3429808 ,  0.00330087,  0.14964075, ..., -0.73518964,
        -0.68519336, -0.27575966],
       [-0.84488505,  0.1597866 , -0.47073225, ..., -0.24020459,
        -0.37110101,  1.17073215],
       [-0.84488505, -0.8730192 ,  0.04624525, ..., -0.20212881,
        -0.47378505, -0.87137393]])

In [18]:
X =df_sc
y =diabetes_df['Outcome']

In [19]:
print(X)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [20]:
print(y)

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [21]:
X_train,X_test,y_train,y_test=train_test_split(X , y ,test_size = 0.2, random_state=50)

print("Shape of X.train",X_train.shape)
print("Shape of X.test",X_test.shape)
print("Shape of y.train",y_train.shape)
print("Shape of y.test",y_test.shape)

Shape of X.train (614, 8)
Shape of X.test (154, 8)
Shape of y.train (614,)
Shape of y.test (154,)

# Training the model

Type 1 - for random basis function

In [22]:
from sklearn import svm

In [23]:
classifier_rbf =svm.SVC(kernel = 'rbf')

In [24]:
# training the svc with rbf
classifier_rbf.fit(X_train,y_train)

SVC()

**Model Evualtion**

Accuracy score

In [25]:
# predict the data on X_train
X_train_pred_rbf=classifier_rbf.predict(X_train)

In [27]:
# check accuracy score of training data
traning_data_accuracy_rbf = accuracy_score(X_train_pred_rbf,y_train)
traning_data_accuracy_rbf

0.8436482084690554

In [29]:
# predict the data on X_test

X_test_pred_rbf=classifier_rbf.predict(X_test)
test_data_accuracy_rbf = accuracy_score(X_test_pred_rbf,y_test)
test_data_accuracy_rbf

0.6948051948051948

**Type 2 linear function**

In [30]:
from sklearn import svm

In [31]:
classifier_linear =svm.SVC(kernel='linear')

In [32]:
# training the svc with linear
classifier_linear.fit(X_train,y_train)

SVC(kernel='linear')

In [33]:
# predict the data
X_train_pred_linear=classifier_rbf.predict(X_train)

In [35]:
# check accuracy score of training data
traning_data_accuracy_linear = accuracy_score(X_train_pred_linear,y_train)
traning_data_accuracy_linear

0.8436482084690554

In [36]:
# predict the data on X_test

X_test_pred_linear=classifier_linear.predict(X_test)
test_data_accuracy_linear = accuracy_score(X_test_pred_linear,y_test)
test_data_accuracy_linear

0.7272727272727273

In [37]:
input_data = (5,166,72,19,175,25.8,0.587,51)

In [38]:
# changing the input_data to numpy array
input_data_as_numpy_array = np.asarray(input_data)

# reshape the array as we are predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

In [40]:
# standardize the input data
std_data = sc.transform(input_data_reshaped)
print(std_data)

prediction = classifier_linear.predict(std_data)
print(prediction)

[[ 0.3429808   1.41167241  0.14964075 -0.09637905  0.82661621 -0.78595734
   0.34768723  1.51108316]]
[1]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"

In [41]:
if (prediction[0] == 0):
  print('The person is not diabetic')
else:
  print('The person is diabetic')

The person is diabetic